$fontFamily: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$fontSize: 18px;
$bgColor: #fff;
$alignFlex: flex-start;
$align: left;
$textColor: #000;
$buttonBgColor: rgb(78, 78, 78);
$buttonTextColor: #fff;
$buttonBorderRadius: 4px;
$buttonBorderWidth: 2px;
$inputBackColor: #fff;
$inputFontColor:#000 ;
